<div ng-controller="OpenSlidesRTCModeratedDiscussionCtrl as Ctrl">
    <!-- css here -->
    <style type="text/css">
        #discussion-video-field {
            float: left;
            width: 100%;
            text-align: center;
        }

        #streamer-control-panel {
            text-align: center
        }

        #streamerVideo {
            width: 400px;
        }

        .redButton {
            color: #f00;
        }

        .hide {
            display: hidden;
        }
    </style>
    <div class="header">
        <div class="title">
            <div class="submenu">
                <a ui-sref="openslides_rtc_group" class="btn btn-sm btn-default">
                    <i class="fa fa-users fa-lg"></i>
                    <translate>Group Conversation</translate>
                </a>
                <a ui-sref="openslides_rtc_private" class="btn btn-sm btn-default">
                    <i class="fa fa-comment fa-lg"></i>
                    <translate>Private Conversation</translate>
                </a>
            </div>

            <h1 translate>Moderated Discussion</h1>
        </div>
    </div>
    <div class="details">
        <div id="explanation">
            A discussion stream might appear here.
            Moderators can stream their video or audio to an audience and
            might ask you to stream your video or audio aswell.
        </div>
        <!-- Video field. Shows only when the config is set accordingly -->
        <div id="discussion-video-field" ng-show="config('enable_video_streaming')">
            
            <span>{{streamName}}</span>
            <p>
                <video id="streamerVideo" autoplay poster=""></video>
            </p>
        </div>

        <!-- Audio field. Shows only when the config is set accordingly -->
        <div id="discussion-audio-field" ng-show="!config('enable_video_streaming')">
            <span>{{streamName}}</span>
            <p>
                <audio id="streamerAudio" autoplay></audio>
            </p>
        </div>

        <!--Streamer controls. only the current streamer should see that-->
        <div id="streamer-control-panel" class="hide">
            Streamer Controls
            <span class="input-group-btn">
                <button class="btn btn-default redButton" type="button" ng-click="streamerMuteMicButton()">
                    <i id="muteMicButton" class="fa fa-microphone"></i>
                </button>
                <button class="btn btn-default redButton" type="button" ng-show="config('enable_video_streaming')" ng-click="streamerHideVideoButton()">
                    <i id="hideVideoButton" class="fa fa-video-camera"></i>
                </button>
                <button class="btn btn-default redButton" type="button" ng-click="streamerStopStreamButton()">
                    <i class="fa fa-stop"></i>
                </button>
            </span>
        </div>

        <!-- mod controls. Only show with the correct permissions 
            this is "basically" a copy if the "list of speakers"-->
        <div id="mod-control-panel" os-perms="openslides_rtc.can_moderate">
            <div class="form-group spacer-top-lg">
                <span>Moderation controls:</span>
                <div uib-alert ng-show="alert.show" ng-class="'alert-' + (alert.type || 'warning')" ng-click="alert={}" close="alert={}">
                    {{ alert.msg }}
                </div>
                <select chosen ng-model="speakerSelectBox.selected" ng-change="selectStreamer(speakerSelectBox.selected)" ng-options="user.id as user.get_full_name() for user in users"
                    search-contains="true" placeholder-text-single="'Select a participant to allow them to stream' | translate" no-results-text="'No results available ...' | translate"
                    class="form-control">
                <select>
            </div>
            <p class="spacer">
                <button id="stream-me-button" class="btn btn-default btn-sm" type="button" ng-click="streamModMediaButton()">
                    <i class="fa fa-video-camera"></i>
                    Stream me
                </button>
            </p>
            
        </div>
    </div>
</div>