<div ng-controller="OpenSlidesRTCUserBarHookCtrl as Ctrl" class="inline">

    <!-- css here -->
    <style type="text/css">
        #on-air-indicator-bar {
            margin-right: 20px;
        }

        #on-air-indicator-bar a {
            padding-left: 5px;
        }

        .on-air{
            color: #f00 !important;
            animation: blinker 3s ease-out infinite;
        }

        @keyframes blinker {  
            50% { opacity: 0.3; }
        }
    </style>

    <div id="on-air-indicator-bar" class="inline">
        <a href class="headerlink" id="recordMicIndicator" ng-click="recordIndicatorIcon()">
            <i class="fa fa-circle"></i>
        </a>

        <a href class="headerlink" id="recordVidIndicator" ng-click="videoIndicatorIcon()">
            <i class="fa fa-video-camera"></i>
        </a>
    </div>
</div>